@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #d58f0b;
}

.container-button{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
}

button{
    background-color: #000000fc;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

.texts{
    display: grid;
    grid-auto-flow: column;
    border-top: black;
    border-radius: 6px;
    margin-top: 10px;
    margin: 10px 8px;
    gap: 8px;
}

.texts-funcion{
    border: solid;
    border: 5px solid #fff;
    border-radius: 12px;
    padding: 7px;
    margin-bottom: 9px;
}

span{
    color: black;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 17px;
    justify-content: center;
}

li {
    border: 5px solid #fff;
    border-radius: 12px;
    padding: 7px;
}

img {
    width: 178px; 
    border-radius: 8px;
}

p{
    color: white;
}

.item-price{
    font-weight: bold;
    color: #fff;
}
